<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksinfo.pointgame.dao.PointDAO">
	
	<resultMap id="GameResultMap" type="com.ksinfo.pointgame.dto.GameDTO">
	    <result column="member_id" property="memberId"/>
	    <result column="game_count" property="gameCount"/>
	    <result column="point" property="point"/>
	    <result column="create_date" property="createDate" jdbcType="DATE"/>
	    <result column="secret_number" property="secretNumber"/>
	    <result column="game_over" property="gameOver"/>
	</resultMap>

	<select id="getPoint" resultMap="GameResultMap">
	    SELECT member_id, game_count, point, create_date, secret_number, game_over
	    FROM pointinfo
	    WHERE member_id = #{memberId}
	</select>

	<update id="setHideNum">
		UPDATE pointinfo
		SET secret_number = #{secretNumber}
		WHERE member_id=#{memberId} 
	</update>
	

	
	<update id="setGameNumAndGameOver">
		UPDATE pointinfo
		SET game_count = 0, game_over = 0
		WHERE member_id=#{memberId} 
	</update>

	<update id="updateCreateDate">
	    UPDATE pointinfo 
	    SET create_date = CURRENT_DATE
	    WHERE member_id = #{memberId}
	</update>

	

	
	
</mapper>